<p class="govuk-body">Not all courses and training providers are signed up to this service. If you choose a course that isn’t signed up to <%= service_name %>, you’ll be guided to UCAS to make an application.</p>
<p class="govuk-body">You can  <%= govuk_link_to 'preview courses currently available', candidate_interface_providers_path %> on <%= service_name %>.</p>
<p class="govuk-body govuk-!-margin-bottom-7">After you submit your application you can’t apply for more courses through this service.</p>
