<ul class='govuk-list'>
  <li><span class='govuk-!-font-weight-bold'><%= candidates_on_apply_count %></span> candidates on Apply in this cycle</li>
  <li><span class='govuk-!-font-weight-bold'><%= candidates_matched_with_ucas_count %></span> candidates matched with UCAS, of which</li>
  <li class='govuk-!-margin-left-5'>
    <span class='govuk-!-font-weight-bold'><%= applied_for_the_same_course_on_both_services %></span> have applied for the same course on both services
  </li>
</ul>
