<div class="app-banner app-banner--info" aria-labelledby="info-message">
  <div class="app-banner__message">
    <h2 class="govuk-heading-m" id="info-message">
          One of your choices is not available anymore.
          <br>
        <%= govuk_link_to 'Update your course choice now', candidate_interface_replace_course_choice_path%>.
    </h2>
  </div>
</div>
